version: '3.8'

services:
  app:
    build: ./app
    ports:
      - "8080:8080"
    # We will get the environment variables from a file
    env_file:
      - ./.env
    depends_on:
      - db

  db:
    image: postgres
    # We will get the environment variable from a file
    env_file:
      - ./.env
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
